  <%- include('partials/Header') %>
  <%- include('partials/Navbar') %>


  <!-- Bagian atas dengan search box dan button -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="d-flex align-items-center justify-content-center">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-dark me-2" type="submit">Search</button>
        </div>
      </div>
    </div>
  </div>
        



  <!-- Main content menggunakan card -->
  <div class="container mt-4">
    <div class="row">
      <% data.forEach((e) => { %>
        <div class="col-md-3">
          <div class="card mb-3">
            <img src="<%= e.imgUrl %>" alt="" srcset="<%= e.imgUrl %>" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title"><%= e.name %></h5>
              <p class="card-text"><%= e.description %></p>
              <p class="card-text"><%= e.Category.name %></p>
              <p class="card-text"><small class="text-muted"><%= formatCurrency(e.price) %></small></p>
              <div>
                <form action="/products/<%= e.id %>/buy" method="POST" class="d-inline mr-2">
                  <button class="btn btn-primary btn-sm">Buy</button>
                </form>
                <form action="/products/<%= e.id %>/update" method="GET" class="d-inline mr-2">
                  <button class="btn btn-success btn-sm">Update</button>
                </form>
                <form action="/products/<%= e.id %>/delete" method="POST" class="d-inline">
                  <button class="btn btn-danger btn-sm">Delete</button>
                </form>
              </div>
              
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </div>

  <%- include('partials/Footer') %>